<!DOCTYPE html>
<html lang="en">
<head>
<title>여행</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
<script src="/js/gyeongju.js"></script>
<script type="text/javascript"
	src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/handlebars/4.7.7/handlebars.min.js"></script>
<Script>
	const CONFIGURATION = {
		"capabilities" : {
			"search" : true,
			"distances" : false,
			"directions" : false,
			"contacts" : true,
			"atmospheres" : true,
			"thumbnails" : true
		},
		"pois" : [ {
			"placeId" : "ChIJu1Z9H1__ZjUR4vQnVFsD82k"
		}, {
			"placeId" : "ChIJ9SUiOHBOZjUR_YnH8Lbjzt0"
		}, {
			"placeId" : "ChIJQwyfbNqyZzUR31ffyfmvm6w"
		}, {
			"placeId" : "ChIJI6-IFWBOZjURG2fe65bJAs0"
		}, {
			"placeId" : "ChIJRawRj0NOZjURV-Bwn4zSng4"
		}, {
			"placeId" : "ChIJ13ANOUNOZjURBcoz1tMkAMw"
		}, {
			"placeId" : "ChIJHfYz6F9OZjUR21CWHW9f18M"
		}, {
			"placeId" : "ChIJEZlzi5pSZjURxSEa5GP2KAc"
		}, {
			"placeId" : "ChIJa4qtrmdOZjURguRnUl7UqSg"
		}, {
			"placeId" : "ChIJV1yUg4NSZjUR9Tvx5tILe2c"
		}, {
			"placeId" : "ChIJA8nY8ExPZjURPC-8kcf4l4E"
		}, {
			"placeId" : "ChIJzZwTG566ZzURsXqXL0IURS4"
		}, {
			"placeId" : "ChIJUeOgSoNSZjURKgyCUs82pSI"
		}, {
			"placeId" : "ChIJr0vrmBlPZjUR-FP-g2I4KTE"
		}, {
			"placeId" : "ChIJOSwEWVxOZjURM3FRl1V9wSw"
		}, {
			"placeId" : "ChIJgWsL-B5MZjURdXIsYMX2Bqg"
		}, {
			"placeId" : "ChIJ-6avpB5MZjUR9s_QEMJSkdo"
		}, {
			"placeId" : "ChIJ1_ePNQtOZjURnSuc4apcuj0"
		}, {
			"placeId" : "ChIJ9wM5h09OZjURoGcPzpV-PYc"
		}, {
			"placeId" : "ChIJU0AJi3NOZjUR_ofFR0xIO2Y"
		} ],
		"mapRadius" : 15000,
		"mapOptions" : {
			"center" : {
				"lat" : 35.8266161,
				"lng" : 129.235988
			},
			"fullscreenControl" : true,
			"mapTypeControl" : true,
			"streetViewControl" : false,
			"zoom" : 16,
			"zoomControl" : true,
			"maxZoom" : 20,
			"mapId" : "201c68ec0a864d2e"
		},
		"mapsApiKey" : "AIzaSyB2IKkVsiDQjVzzRTprzxtn7eNfIXS45HY"
	};
</Script>
<link href="https://fonts.googleapis.com/css?family=Roboto"
	rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet" />

<link href="/css/all.css" rel="stylesheet" />

<script id="nd-place-results-tmpl" type="text/x-handlebars-template">
  {{#each places}}
    <li class="place-result">
      <div class="text">
        <button class="name">{{name}}</button>
        <div class="info">
          {{#if rating}}
            <span>{{rating}}</span>
            <img src="https://fonts.gstatic.com/s/i/googlematerialicons/star/v15/24px.svg" alt="rating" class="star-icon"/>
          {{/if}}
          {{#if numReviews}}
            <span>&nbsp;({{numReviews}})</span>
          {{/if}}
          {{#if priceLevel}}
            &#183;&nbsp;<span>{{#each dollarSigns}}${{/each}}&nbsp;</span>
          {{/if}}
        </div>
        <div class="info">{{type}}</div>
      </div>
      <button class="add-btn"> <img src="/images/cart-plus-fill.svg" alt="Add"></button>
      <button class="photo" style="background-image:url({{photos.0.urlSmall}})" aria-label="show photo in viewer"></button>
    </li>
  {{/each}}
</script>

<script id="nd-place-details-tmpl" type="text/x-handlebars-template">
  <div class="navbar">
    <button class="back-button">
      <img class="icon" src="https://fonts.gstatic.com/s/i/googlematerialicons/arrow_back/v11/24px.svg" alt="back"/>
      Back
    </button>
  </div>
  <header>
    <h2>{{name}}</h2>
    <div class="info">
      {{#if rating}}
        <span class="star-rating-numeric">{{rating}}</span>
        <span>
          {{#each fullStarIcons}}
            <img src="https://fonts.gstatic.com/s/i/googlematerialicons/star/v15/24px.svg" alt="full star" class="star-icon"/>
          {{/each}}
          {{#each halfStarIcons}}
            <img src="https://fonts.gstatic.com/s/i/googlematerialicons/star_half/v17/24px.svg" alt="half star" class="star-icon"/>
          {{/each}}
          {{#each emptyStarIcons}}
            <img src="https://fonts.gstatic.com/s/i/googlematerialicons/star_outline/v9/24px.svg" alt="empty star" class="star-icon"/>
          {{/each}}
        </span>
      {{/if}}
      {{#if numReviews}}
        <a href="{{url}}" target="_blank">{{numReviews}} reviews</a>
      {{else}}
        <a href="{{url}}" target="_blank">See on Google Maps</a>
      {{/if}}
      {{#if priceLevel}}
        &#183;
        <span class="price-dollars">
          {{#each dollarSigns}}${{/each}}
        </span>
      {{/if}}
    </div>
    {{#if type}}
      <div class="info">{{type}}</div>
    {{/if}}
  </header>
  <div class="section">
    {{#if address}}
      <div class="contact">
        <img src="https://fonts.gstatic.com/s/i/googlematerialicons/place/v10/24px.svg" alt="Address" class="icon"/>
        <div class="text">
          {{address}}
        </div>
      </div>
    {{/if}}
    {{#if website}}
      <div class="contact">
        <img src="https://fonts.gstatic.com/s/i/googlematerialicons/public/v10/24px.svg" alt="Website" class="icon"/>
        <div class="text">
          <a href="{{website}}" target="_blank">{{websiteDomain}}</a>
        </div>
      </div>
    {{/if}}
    {{#if phoneNumber}}
      <div class="contact">
        <img src="https://fonts.gstatic.com/s/i/googlematerialicons/phone/v10/24px.svg" alt="Phone number" class="icon"/>
        <div class="text">
          {{phoneNumber}}
        </div>
      </div>
    {{/if}}
    {{#if openingHours}}
      <div class="contact">
        <img src="https://fonts.gstatic.com/s/i/googlematerialicons/schedule/v12/24px.svg" alt="Opening hours" class="icon"/>
        <div class="text">
          {{#each openingHours}}
            <div>
              <span class="weekday">{{days}}</span>
              <span class="hours">{{hours}}</span>
            </div>
          {{/each}}
        </div>
      </div>
    {{/if}}
  </div>
  {{#if photos}}
    <div class="photos section">
      {{#each photos}}
        <button class="photo" style="background-image:url({{urlSmall}})" aria-label="show photo in viewer"></button>
      {{/each}}
    </div>
  {{/if}}
  {{#if reviews}}
    <div class="reviews section">
      <p class="attribution">Reviews by Google users</p>
      {{#each reviews}}
        <div class="review">
          <a class="reviewer-identity" href="{{author_url}}" target="_blank">
            <div class="reviewer-avatar" style="background-image:url({{profile_photo_url}})"></div>
            <div class="reviewer-name">{{author_name}}</div>
          </a>
          <div class="rating info">
            <span>
              {{#each fullStarIcons}}
                <img src="https://fonts.gstatic.com/s/i/googlematerialicons/star/v15/24px.svg" alt="full star" class="star-icon"/>
              {{/each}}
              {{#each halfStarIcons}}
                <img src="https://fonts.gstatic.com/s/i/googlematerialicons/star_half/v17/24px.svg" alt="half star" class="star-icon"/>
              {{/each}}
              {{#each emptyStarIcons}}
                <img src="https://fonts.gstatic.com/s/i/googlematerialicons/star_outline/v9/24px.svg" alt="empty star" class="star-icon"/>
              {{/each}}
            </span>
            <span class="review-time">{{relative_time_description}}</span>
          </div>
          <div class="info">{{text}}</div>
        </div>
      {{/each}}
    </div>
  {{/if}}
  {{#if html_attributions}}
    <div class="section">
      {{#each html_attributions}}
        <p class="attribution">{{{this}}}</p>
      {{/each}}
    </div>
  {{/if}}
</script>
</head>
<body>
	<div class="neighborhood-discovery">
		<div class="places-panel panel no-scroll" style="width: 380px">
			<header class="navbar">
				<div class="search-input">
					<input class="place-search-input"
						placeholder="Search nearby places">
					<button class="place-search-button">
						<img
							src="https://fonts.gstatic.com/s/i/googlematerialicons/search/v11/24px.svg"
							alt="search" />
					</button>
				</div>
			</header>
			<div class="results">
				<ul class="place-results-list"></ul>
			</div>
			<button class="show-more-button sticky">
				<span>Show More</span> <img class="right"
					src="https://fonts.gstatic.com/s/i/googlematerialicons/expand_more/v11/24px.svg"
					alt="expand" />
			</button>
		</div>
		<button class="arrow-button">
			<img src="/images/caret-right-fill.svg" alt="arrow" />
		</button>


		<div class="new-panel panel"
			style="margin-left: 380px; width: 380px" id="new-panel">
			<header class="place-counter"> </header>

			<div class="results">
				<ul class="place-results-list"></ul>

			</div>
			<button class="close-btn">숨기기</button>
			<button class="make-btn">일정표 만들기</button>


		</div>

		<div class="details-panel panel" style="width: 380px"></div>
		<div class="map"></div>
		<div class="photo-modal">
			<img alt="place photo" />
			<div>
				<button class="back-button">
					<img class="icon"
						src="https://fonts.gstatic.com/s/i/googlematerialicons/arrow_back/v11/24px.svg"
						alt="back" />
				</button>
				<div class="photo-text">
					<div class="photo-place"></div>
					<div class="photo-attrs">
						Photo by <span></span>
					</div>
				</div>
			</div>
		</div>
		<svg class="marker-pin" xmlns="http://www.w3.org/2000/svg" width="26"
			height="38" fill="none">
        <path
				d="M13 0C5.817 0 0 5.93 0 13.267c0 7.862 5.59 10.81 9.555 17.624C12.09 35.248 11.342 38 13 38c1.723 0 .975-2.817 3.445-7.043C20.085 24.503 26 21.162 26 13.267 26 5.93 20.183 0 13 0Z" />
      </svg>
	</div>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2IKkVsiDQjVzzRTprzxtn7eNfIXS45HY&callback=initMap&libraries=places,geometry&solution_channel=GMP_QB_neighborhooddiscovery_v2_cADEF"
		async defer></script>
</body>
</html>